html,
body {
    margin: 0;
    padding: 0;
    background-image: url(https://slubillikens.com/images/2020/6/29/WBB_education_day.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-board-container {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid #fff;
    max-width: 530px;
    height: 300px;
    background-color: rgb(15 21 82 / 90%);
    border-radius: 10px;

}

.home,
.guest {
    color: #fff;
    margin: 30px auto 0 auto;
    font-family: 'Roboto', sans-serif;
}

.home-score-board,
.guest-score-board {
    text-align: center;
    margin: -8px 66px;
}

.btn {
    width: 36px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #9AABD8;
    color: #9AABD8;
    border-radius: 4px;
}

.score {
    display: inline-block;
    font-size: 5rem;
    color: #d62828;
    margin-top: 13px;
}

.score,
.btn {
    font-family: "Cursed Timer ULil", cursive;
}


.home-score,
.guest-score {
    width: 120px;
    height: 100px;
    background-color: #000;
    margin: 20px auto;
    border-radius: 6px;
    display: flex;
    justify-content: center;

}

.home-container-pts-btn {
    width: 30px;
    height: 30px;
}

.refresh-btn {
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #9AABD8;
    border-radius: 5px;
    display: flex;
    margin-top: 200px;

}